# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
*.egg-info/

# Conda
.conda/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Java / Maven，后面 askflow-backend 会用到
target/
*.class

# Upload files
uploads/


# Chroma local vector database
askflow-ai-service/data/chroma/


# Java build
target/
askflow-backend/target/
hf-cache/
*.safetensors
*.bin
*.pt
*.pth
